body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 80px;
    background-image: url("source/gradii-1920x1080.png");
}

header {
    background-color: rgb(102, 123, 124);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

section {
    margin: 20px;
    padding: 75px 40px 20px 40px;
    background: rgb(213 213 213);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    line-height: 35px;
}

section h2 {
    text-align: center;
}


#objetivos {
    background-color: #d1d1d1;
    text-align: justify;
}


.proyect {
    display: flex;
    column-gap: 6%;
}

.proyecto:hover {
    background-color: rgb(211 204 195);
}

.proyecto {
    width: 45%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.proyecto h3 {
    text-align: center;
    margin-bottom: 0;
}

.proyecto a {
    text-decoration: none;
    color: #a35d5d;
}

.proyecto a:hover {
    text-decoration: none;
    color: #6e3333;
}

hr {
    margin-left: 25%;
    width: 50%;
}

.barraTop {
    list-style: none;
    text-align: center;
    display: inline-flex;
}

.barraTop li{
    padding: 10px;
}

.respmenu li {
    padding: 5px;
}

.barraTop a,
.respmenu a {
    color: wheat;
    text-decoration: none;
}

.barraTop a:hover,
.respmenu a:hover {
    color: burlywood;
}

.respmenu ul{
    list-style: none;
    text-align: center;
}


.respmenu input[type="checkbox"],
.respmenu .fa-bars,
.respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
}

.respmenu .fa-bars,
.respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
}

.respmenu input[type="checkbox"] {
    opacity: 0;
}

.respmenu {
    color: white;
    position: relative;
    display: none;
    min-height: 48px;

}

.respmenu nav {
    display: none;
    text-wrap: nowrap;
}

.respmenu input:checked~nav {
    display: block;
    
}

.respmenu input:checked~.fa-bars {
    display: none;
}

.respmenu input:not(:checked)~.fa-times {
    display: none;
}

#presentacion {
    display: flex;
    padding: 80px 40px 20px 40px;
}

.foto {
    width: 40%;
    text-align: center;
}

.txt {
    width: 50%;
    text-align: center;
    align-content: center;
}

.txt p {
    text-align: center;
}

.foto img {
    width: 40%;
    border-radius: 80px;
}

p {
    text-align: justify;
}

.contact {
    display: flex;
}

.fIzq {
    width: 40%;
}

.fDcha {
    width: 60%
}

.fIzq p,
.fDcha p {
    line-height: 40px;
    font-size: 16px;
    text-align: center;
}

.fDcha a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

.fDcha a:hover {
    color: #6e3333;
}

.navCertif {
    text-align: center;
}

.accordion {
    background-color: rgb(213 213 213);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion.first {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.accordion.last {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.panel {
    padding: 0 21px;
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}


.carousel-container {
    display: flex;
    width: 100%;
    height: 100%;
    /* transition: transform 0.5s ease-in-out; */
}

.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.panel img {
    width: 100% !important;
}

.panel .carousel-item {
    float: none;
    margin-right: 27%;
}

.panel .carousel-indicators {
    bottom: -36px;
}

.panel .carousel-control-prev {
    left: -40px;
}

.panel .carousel-control-next {
    right: -40px;
}


.d-block.w-100 {
    margin: 0 auto;
}

.panel .carousel-item{
    transition: none;
}


table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px 16px;
    text-align: left;
}

thead {
    background-color: rgb(102, 123, 124);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(191, 201, 201);
}

td {
    border-bottom: 1px solid #ddd;
}


.carousel-item {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.d-block.w-100 {
    width: 100%;
    height: auto;
    display: block;
}


@media (max-width: 1800px) {
    .panel .carousel-item {
        float: none;
        margin: 0 auto;
    }
}

@media (max-width: 960px) {
    .fDcha {
        width: 90%;
    }

    .panel .carousel-control-next {
        right: -72px;
    }

    .panel .carousel-control-prev {
        left: -72px;
    }
}

@media (max-width: 780px) {

    body {
        font-size: 20px;
    }

    .foto {
        align-content: center;
    }

    .foto img {
        width: 60%;
    }

    .txt {
        font-size: 25px;
    }

    .txt h1 {
        font-size: 35px;
    }

    section #objetivos {
        margin: 10px;
        padding: 10px;
    }

    .proyect {
        display: block;
    }

    .proyecto {
        width: 80%;
        margin: 0 auto;
    }

    .fIzq {
        min-width: 35%;
    }

    .fDcha {
        width: 65%;
    }

    .fDcha p {
        display: inline-grid;
        line-height: 0;
    }

    .fDcha a {
        padding: 10px;
    }

    .panel .carousel-control-next {
        right: -58px;
    }

    .panel .carousel-control-prev {
        left: -58px;
    }

}

@media (max-width: 640px) {

    body {
        font-size: 18px;
    }

    header {
        font-size: 16px;
    }


    #presentacion {
        padding: 80px 10px 20px 10px;
    }

    .foto img {
        width: 95%;
    }

    .foto {
        width: 40%;
    }

    .txt {
        width: 60%;
        font-size: 18px;
    }

    .txt h1 {
        font-size: 30px;
    }

    section {
        padding: 75px 15px 20px 15px;
    }

    .fIzq {
        min-width: 40%;
    }

    .fDcha {
        width: 60%;
    }

    .panel .carousel-control-next {
        right: -50px;
    }

    .panel .carousel-control-prev {
        left: -50px;
    }

}

@media (max-width: 560px) {
    header{
        padding: 5px 20px;
    }
    .barraTop {
        display: none;
    }
    .respmenu {
        display: block;
    }
    .panel .carousel-control-next {
        right: -45px;
    }

    .panel .carousel-control-prev {
        left: -45px;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 16px;
    }

    header {
        font-size: 16px;
    }

    .barraTop li {
        padding: 6px;
    }

    #presentacion {
        padding: 70px 5px 10px 5px;
    }

    .foto {
        width: 45%;
    }

    .txt {
        width: 55%;
    }

    .txt h1 {
        font-size: 25px;
    }

    .proyecto {
        width: 90%;
        margin: 10px auto;
    }

    .fIzq {
        min-width: 50%;
    }

    .panel .carousel-control-next {
        right: -40px;
    }

    .panel .carousel-control-prev {
        left: -40px;
    }
}

@media (max-width: 430px) {
    .fDcha p {
        font-size: 15px;
    }
    .panel .carousel-control-next {
        right: -35px;
    }

    .panel .carousel-control-prev {
        left: -35px;
    }
}

@media (max-width: 390px) {
    body {
        font-size: 14px;
    }

    .foto {
        width: 50%;
    }

    .txt {
        width: 50%;
        font-size: 14px;
    }

    .fIzq {
        min-width: 46%;
    }

    .fIzq p {
        display: inline-grid;
    }

    .fDcha p {
        font-size: 14px;
    }

    .accordion,
    .panel {
        width: 80%;
    }

    .panel .carousel-control-next {
        right: -30px;
    }

    .panel .carousel-control-prev {
        left: -30px;
    }
}

@media (max-width: 376px) {
    body {
        font-size: 13px;
    }

    .foto {
        width: 45%;

    }

    .txt {
        width: 55%;
        font-size: 12px;
    }

    .txt h1 {
        font-size: 20px;
    }

    .fDcha a {
        padding: 8px;
    }

    .fIzq {
        min-width: 50%;
    }

}